<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p>Give us a call or send us an email and we will get back to you as soon as possible!</p>
            </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
                <i class="fa fa-phone fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>+254 711 860777</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="mailto:{{ site.email }}">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.email }}</p>
            </a>
        </div>

<div id="TA_cdswritereviewlg766" class="TA_cdswritereviewlg"><ulid="TnwLZZBI" class="TA_links mIqeMR"><li id="0rW8PnV"class="koHPnUFDt6"><a target="_blank"href="https://www.tripadvisor.com/"><imgsrc="https://www.tripadvisor.com/img/cdsi/img2/branding/medium-logo-12097-2.png"alt="TripAdvisor"/></a></li></ul></div><script asyncsrc="https://www.jscache.com/wejs?wtype=cdswritereviewlg&uniq=766&locationId=9863661&lang=en_US&lang=en_US&display_version=2"data-loadtrk onload="this.loadtrk=true"></script>
            
    </div>
</section>
